
{% extends "layout.html" %}

<html>
  <body>
    {% block hedder %}
    Generalized_Moving_knife Algorithm
    {% endblock hedder %}
    {% block content %}
    <p>Please choose a CSV file for input:</p>
    <form method="post" action="/results" enctype="multipart/form-data">
      <input type="file" id="input_file" name="input_file"><br><br>
      <input type="hidden" name="algorithm" value="algorithm3">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
{% endblock content %}