<!-- index.html -->
<!DOCTYPE html>
<html>

<head>

    <title>Fair Rent Division on a Budget</title>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>
<body>
<div class="About" style="justify-content: center">
    <h1>Fair Rent Division on a Budget</h1>
    <div>
        <h2>About</h2>
        <p>
            "Fair Rent Division on a Budget" by Procaccia, A., Velez, R., & Yu, D. (2018),
            https://doi.org/10.1609/aaai.v32i1.11465 .<br/>
            The algorithm calculates Optimal envy-free allocation subject to budget constraints, or in
            simple
            words,
            calculates a fair rent division under budget constraints.
        </p>
    </div>
    <div>
        <h2>Manual</h2>
        <p>
            Select the number of rooms, enter the total rent.<br/>
            And click submit of continue
        </p>
    </div>


    <form action="/submit" method="post">
        <label for="rooms">Number of Rooms:</label>
        <input type="number" id="rooms" name="rooms" min="2" placeholder="Number of rooms">
        <br/>
        <br/>
        <label for="rent"> Total Rent :</label>
        <input type="number" id="rent" name="rent" min="1" placeholder="Total rent">
        <br>
        <br/>
        <button type="submit">Submit</button>
    </form>

</div>
</div>

</body>
</html>
