<!--    table.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fair Rent Division on a Budget</title>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>
<body>
<div>
    <h2>Manual</h2>
    <div>
        <p>
            Enter the names of roommates and enter the budget of each .<br/>
            Enter the evaluation of each room so that the total equals rent.<br/>
            For the end click on submit for result. <br/>
            If you want back to home, click

        </p>

    </div>
     <form action="/home" method="post">
        <button type="submit">Home</button>
    </form>
    <form action="/res" method="post">
    <div style="text-align: left">
        {% block content %}
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Budget</th>
                {% for i in range(1,rooms+1) %}
                <th>Room {{i}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for user in range(1,rooms+1) %}
            <tr>
               <td><input type="text" id="name{{user.index}}" name="name" placeholder="Name"></td>
                <td><input type="number" id="budget{{user.index}}" name="budget" min="1" placeholder="Budget"></td>
                {% for i in range(1,rooms+1) %}
                <td><input type="number" id="room{{i}}_{{user.index}}" name="room{{i}}" min="1" placeholder="Value room {{i}}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>
        <button type="submit">Result</button>
    </form>
</div>

</body>
</html>