.About.body{
  background-color: #282c34;
  color: #61dafb;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
body {
  background-color: #282c34;
  color: #61dafb;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.pages {
  color:#61dafb;
  font-family: Arial ;
  text-align: center;
}

