<<html dir="ltr">

<body style="background-image: url(background.jpg)">
         <div style="display: flex;font-family:Arial,monospace; align-items: center; justify-content: center">
                <h1>!החלוקה מוכנה</h1>
             <br><br>
<!--                <h2>{{result}} </h2>-->
         </div>
        <iframe width='100%' height='70%' src="{{url}}">
        </iframe>
<div style="display: flex;font-family:Arial,monospace; align-items: center; justify-content: center">
<h1>!תודה שהשתמשת באתר שלנו</h1>
</div>
<div style="display: flex; align-items: center;font-family:Arial,monospace; justify-content: center">
<a href="/previous_page?algo={{num_algo}}" style="font-size: 20px">חזור</a>
</div>
         <br>
<div style="display: flex; align-items: center;font-family:Arial,monospace; justify-content: center">
<a href="/back_home_page" style="font-size: 20px">לדף הבית</a>
</div>
</body>
</html>





