<html dir="rtl" lang="he">

<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          // $('button#test').on('click', function(e) {
          //   e.preventDefault()
          //   $.getJSON('/background_process_test', function(data) {});
          //   return false;
          // });
          $('button#run').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/run_the_algorithm', function(data) {});
            return false;
          });
        });
</script>

<h2>הכנסת נתונים</h2>
<iframe width='100%' height='400px' src="https://docs.google.com/spreadsheets/d/1tJPV-y-r1TAx5FqbrqecKPJMeKHTtIDeiYck8eLoGKY/edit#gid=0">
</iframe>

<p>
<!--   <button id='run'><h2>הפעלת האלגוריתם</h2></button>-->
   <button id='run'> <h2>הפעלת האלגוריתם</h2></button>
  </p>

<hr/>

<p class='container'>
  <a href="/log">קובץ לוג</a>
</p>

<p class='container'>
  <button id='test'>כפתור בדיקה</button>
</p>

</body>
</html>