<html dir="ltr">

<body style="background-image: url(background.jpg)">
<div style="display: flex; align-items: center;font-family:Arial,monospace; justify-content: center">
<h1>טבלת ההערכות שהזנת</h1>
</div>
<iframe width='100%' height='70%' src="{{url}}">
</iframe>
<div style="display: flex; align-items: center;font-family:Arial,monospace; justify-content: center">
    <a href="/play_algo2?url={{url}}&eps={{eps}}" style="font-family:Arial,monospace;font-size: 40px">למציאת חלוקה חסרת קנאה (בקירוב של אפסילון) - לחץ כאן</a>
</div>
</body>
</html>