<html dir="ltr">

<body style="background-image: url(background.jpg)">
         <div style="display: flex; align-items: center; justify-content: center">
         <h1>!!ברוכים הבאים לאתר לחישוב חלוקה הוגנת </h1>
         </div>
         <br> <br> <br> <br> <br> <br>
         <div style="display: flex; align-items: center; justify-content: center">
         <a href="/first_algo" style="font-size: 30px">לחישוב חלוקה שיויונית וחסרת קנאה - לחץ כאן</a>
         </div>
         <br> <br>
         <div style="display: flex; align-items: center; justify-content: center">
         <a href="/second_algo" style="font-size: 30px">לחישוב אלגוריתם קירוב לחלוקה חסרת קנאה - לחץ כאן</a>
         </div>
</body>
</html>





