<html dir="ltr">
<body>
         <div style="display: flex; align-items: center; justify-content: center">
         <h1>Welcome to our website!! </h1>
         </div>
         <br> <br> <br> <br> <br> <br>
         <div style="display: flex; align-items: center; justify-content: center">
         <a href="/first_algo" style="font-size: 30px">For calculate envy_freeness_and_equitability_with_payments allocation - press here</a>
         </div>
         <br> <br>
         <div style="display: flex; align-items: center; justify-content: center">
         <a href="/second_algo" style="font-size: 30px">For calculate envy_free_approximation allocation - press here</a>
         </div>
</body>
</html>